.divh5 {
    background-color: #000000;
    color: #ffffff;
}
.aheader {
    color: #000000;
}
.aheader:hover {
    color:#000000;
    border-top: 1px solid #000000;
}
.imgremera {
    width: 200px;
    height: 200px;
}
.sectionfooter {
    background-color: #49454523;
}
.boton {
    background-color: #000000;
    color: white;
}
.imgicon {
    width: 50px;
    height: 50px;
}
.iconwsp {
    width: 50px;
    height: 50px;
}
